@using MogTomeWeb.Components.Shared
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image:none;background-color:#155275;">
        <NavMenu @rendermode="InteractiveServer" OnRequestAdmin="() => ToggleModal()" />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<AdminModal @ref="modalRef" />

@code {
    private bool ShowAdminModal = false;
    private AdminModal? modalRef;

    private async Task ToggleModal()
    {
        if (modalRef is not null)
            await modalRef.ShowAsync();
    }
}
