@page "/"


<PageTitle>Home</PageTitle>

<h1 class="welcome-header">WELCOME, KUPO</h1>
<p class="welcome-paragraph">This is just a fun little way to easily see info about our wonderful FC. Reach out to planedonut with any questions!<br />We currently only provide the ability to view members. <a class="welcome-paragraph" href="/members">Check it out!</a></p>
<img class="big-img" src="mogs.png" />